@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {}

@media (prefers-color-scheme: dark) {
  :root {}
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


body {
  font-family: "Pretendard";
}

*::-webkit-scrollbar {width: 8px; height: 8px;}
*::-webkit-scrollbar-thumb {background-color: #4FAAFF; border-radius: 10px;}